<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addS.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo"></div>
        <div class="name"><i class="fa-solid fa-circle-user" style="color: #858c99;"> marwan salah sharif elemhy</i>
        </div>
        <div class="email"><i class="fa-solid fa-envelope" style="color: #858c99;"> marwanelmey7@gmail.com</i></div>
        <div class="partition"><i class="fa-solid fa-building style=" color: #858c99;"> cs</i></div>
        <div class="university"></div>
    </header>
    <!-- ! ////////////////////////////////////// -->

    <form action="/admine/adddoctor" method="post">
        <div class="container">
            <h2>doctor access</h2>
           
          <input type="text" placeholder="name" class="user-name" id="user" name="name">
        <input type="email" placeholder="email " class="user-name" id="user" name="email">
        <input type="text" placeholder="password" class="user-name" id="user" name="password">
        <input type="submit" class="button" value="create" >
        </div>
    </form>





    <!-- ! ////////////////////////////////////// -->
    <footer><i class="fa-solid fa-building-columns"> elmenufia university</i><i class="fa-solid fa-calendar-days">
            2023</i></footer>
</body>

</html>