<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>

<body>
    <div class="page">
        <div class="login">
            <div class="logo"></div>
            <form action="/admine" method="post">
                <label for="user">User Name</label>
                <input type="email" placeholder="Type Your User email" class="user-name" id="user" name="email">
                <label for="pass">Password</label>
                <input type="password" placeholder="Type Your Password" class="password" id="pass" name="password">
                <button type="submit">save</button>
            </form>
        </div>
    </div>
    <script src="login.js"></script>
</body>

</html>